        *{
            margin: 0%;padding: 0%;
            font-family: sans-serif;
        }
        header{
            background-color: black;
            height: 90px;
            width: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
        }
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
        .logo h1{
            margin: 10px;
        }
        a{
            text-decoration: none;
            color: white;
            font-size: 20px;
            transition: transform 0.3s ease;
        }
        a:hover{
            color: rgb(223, 119, 59);
            transform: scale(1.1);
        }
        a::after {
            transform-origin: bottom right;
        }

        a:hover::after {
            transform-origin: bottom left;
        }
        .items{
            width: 40%;
            display: flex;
            justify-content: space-evenly;
        }
        .banner{
            margin-top: 80px;
            height: 450px;
            width: 100%;
            background-color: #DDDDDD;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: url(./banner.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        p{
            font-size: 20px;
            margin: 10px;
        }
        button{
            border: 0;
            margin: 8px;
            width: 10%;
            height: 35px;
            background-color: #000000;
            transition: transform 0.5s ease;
            color: #DDDDDD;
            border-radius: 20px;
        }
        button:hover{
            background-color: #DDDDDD;
            color: black;
            transform: scale(1.1);
            border:1px solid red;
        }
        .categories{
            height: 300px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .category{
            height: 250px;
            width: 280px;
            background-color: #DDDDDD;
            box-shadow: 0 0px 10px black;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.5s ease;
            border-radius: 10px;
        }
        .category img{
            height: 250px;
            width: 280px;
            border-radius: 10px;
        }
        .category:hover{
            transform: scale(1.1);
        }
        .offers{
            height: 250px;
            background-color: rgb(255, 191, 0);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            border-radius: 10px;
        }
        .reviews{
            height: 300px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .rev{
            height: 250px;
            width: 300px;
            background-color: #edecec;              
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: transform 0.5s ease;
            box-shadow: 0 0 10px black;
            border-radius: 15px;
        }
        .rev:hover{
            transform: scale(1.1);
        }
        .newsletter{
            height: 300px;
            background-color: #DDDDDD;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .newsletter input{
            height: 30px;
            width: 250px;
            padding: 6px;
            border-radius: 10px;
            border: 0;
        }
        .footer{
            height: 260px;
            background-color: #000000;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .f{
            height: 210px;
            width: 320px;
            color: white;
        }
        .f a{
            color: rgb(255, 177, 177);
            margin: 10px;
        }
        .f p{
            font-size: 16px;
        }